h3 {
  font-size: 18px;
}

select.center-country {
  width: 150px;
  margin-left: auto;
  float: left;
}

input.search-input {
  width: 150px;
  margin-left: auto;
  float: right;
}

.mt32 {
  margin-top: 32px;
}

table {
  font-size: 0.8rem;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #696969;
}
